.cabecalho{
    background-color: var(--cor-branca);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__img{
    padding:1em;
}

.img__link:active{
    background-color: var(--cor-de-fundo);
}

.cabecalho__menu-hamburguer{
    width:48px;
    height: 48px;
    background-image: url("../images/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url("../images/Menu-black.svg");
}

.container__botao:checked ~ .container__rotulo{
    background: var(--cor-azul-gradiente);
}

.lista-menu{
    display:none;
    position: absolute;
    top:100%;
    width:60vw;
    z-index: 9999;
    margin-top: -1px;
}

.container__botao:checked ~ .lista-menu{
    display:block;
}

.lista-menu__titulo, .lista-menu__item{
    padding:1em 1.5em;
    background-color: var(--cor-branca);  
}

.lista-menu__titulo{
    color:var(--cor-laranja);
    font-weight:700;
}

.item__link{
    background: var(--cor-azul-gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform:uppercase;
    text-decoration:none;
}

.lista-menu__item:active{
    background-color: var(--cor-azul-claro);
}

.lista-menu__item:active > .item__link{
    background:white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container__botao, .container__titulo, .opcoes, .container__texto{
    display:none;
}

@media screen and (min-width:1024px) {
    .cabecalho{
        padding:0 2em;
    }
    
    .container__titulo, .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size:30px;
    }

    .container__titulo{
        display:block;
    }

    .container__titulo--negrito{
        font-weight:700;
    }

    .opcoes{
        display:flex;
    }

    .opcoes__botao{
        display:none;
    }

    .opcoes__botao:checked ~ .botao__rotulo > .opcoes__item{
        background:var(--cor-azul-gradiente);
        color:var(--cor-branca);
    }

    .opcoes__botao:checked ~ .lista-menu{
        display:block;
        width:auto;
    }

    .opcoes__item{
        padding:2em 1em;
        text-transform: uppercase;
    }

    .opcoes__item a{
        text-decoration:none;
        color: var(--cor-preta);
    }

    .opcoes__item:hover, .opcoes__item:hover > .opcoes__link, .lista-menu__item:hover, .lista-menu__item:hover > .item__link{
        background: var(--cor-azul-gradiente);
        -webkit-text-fill-color: var(--cor-branca);
    }

    .opcoes__item:active, .opcoes__item:active > .opcoes__link, .lista-menu__item:active, .lista-menu__item:active > .item__link{
        background: var(--cor-azul-claro);
    }

    .container{
        gap:1em;
    }

    .container__img:hover{
        background-color: var(--cor-de-fundo);
    }

    .container__imagem-transparente, .cabecalho__menu-hamburguer{
        display:none;
    }
}

@media screen and (min-width:1728px){
    .cabecalho{
        padding:1em 2em;
    }

    .opcoes{
        margin-right:auto;
    }

    .container a{
        color:var(--cor-preta);
        font-size:20px;
        text-decoration: none;
        display:flex;
        align-items:center;
        justify-content: space-around;
    }
    
    .container__img{
        padding-right:0.3em;
    }

    .container__texto{
        display:block;
    }

    .container__texto:hover{
        color:var(--cor-azul-claro);
        font-size:18px;
    }
}